<div th:fragment="form" th:remove="tag">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">中文学名<span class="text-danger"> *</span></label>
            <input type="text" class="form-control" name="chineseName">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">拉丁学名</label>
            <input type="text" class="form-control" name="scientificName">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">界</label>
            <input type="text" class="form-control" name="kingdom">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">科</label>
            <input type="text" class="form-control" name="family">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">种</label>
            <input type="text" class="form-control" name="species">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">属</label>
            <input type="text" class="form-control" name="genus">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚科</label>
            <input type="text" class="form-control" name="subFamily">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚种</label>
            <input type="text" class="form-control" name="subSpecies">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚属</label>
            <input type="text" class="form-control" name="subGenus">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">门</label>
            <input type="text" class="form-control" name="phylum">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">纲</label>
            <input type="text" class="form-control" name="pestClass">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">目</label>
            <input type="text" class="form-control" name="order">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚门</label>
            <input type="text" class="form-control" name="subPhylum">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚纲</label>
            <input type="text" class="form-control" name="pestSubClass">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">亚目</label>
            <input type="text" class="form-control" name="subOrder">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">简介</label>
            <textarea class="form-control" rows="6" name="briefIntroduction"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">防治方法</label>
            <textarea class="form-control" rows="6" name="preventionMethod"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">形态特征</label>
            <textarea class="form-control" rows="6" name="morphologicalCharacteristic"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">发生规律</label>
            <textarea class="form-control" rows="6" name="occurrenceRule"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">分布区域</label>
            <textarea class="form-control" rows="6" name="distributionArea"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">生活习性</label>
            <textarea class="form-control" rows="6" name="livingHabit"></textarea>
        </div>
    </div>
    <input type="hidden" name="id"/>
</div>
