
<p>
    <strong>种名：</strong>
    侧柏毒蛾
</p>
<p>
    <strong>拉丁名：</strong>
    Parocneria furva (Leech)
</p>
<p>
    <strong>分类地位：</strong>
    鳞翅目 毒蛾科 柏毒蛾属 毒蛾科
</p>
<p>
    <strong>分布范围：</strong>
    日本、朝鲜；东北、青海、宁夏、陕西、北京、河北、河南、山东、安徽、江苏、浙江、湖北、湖南、广西、四川、兰州、庆阳、平凉。青海省内分布黄南州麦秀林场、互助县北山林场、门源县仙米林场
</p>
<p>
    <strong>寄主：</strong>
    祁连圆柏、侧柏、桧柏、黄桧等柏类。
</p>
<p>
    <strong>主要识别特征：</strong>
    体成褐色，体长14~20 mm，翅展17~33 mm。雌虫触角灰白色呈短栉齿状。前翅浅灰色，翅面有不显著的齿状波纹，近中室处有一暗色斑点，外缘较暗，布有若干黑斑，后翅浅黑色，带花纹。雄虫触角灰黑色，呈羽毛状，体色较雌虫深，为深近灰褐色，前翅花纹完全消失。<strong>卵</strong> 扁圆球形，初产时为青绿色，后渐变为黄褐色,孵化前变黑褐色。<strong>幼虫</strong>老熟时体长23 mm，全体近灰褐色，形成较宽的纵带。在纵带两边镶有不规则的灰黑色斑点，相连如带。腹部第6、7节背面中央各有一个淡红色的翻缩线。身体各节具有黄褐色毛瘤，上着生粗细不一的刚毛。<strong>蛹</strong> 灰褐色，头顶具毛丛，腹部各节具有灰褐色的斑点，上生白色细毛，腹末具有深褐色的钩状毛。
</p>
<p>
    <strong>生物学特性：</strong>
    侧柏毒蛾在互助北山林区一年发生1代，以卵在柏树树皮缝隙、叶、小枝上越冬。次年3月底越冬卵开始孵化为害，6月中旬老熟幼虫在树皮下、枯枝落叶中开始化蛹，6月下旬为化蛹盛期，7月中旬蛹开始羽化成虫，并开始产卵，7月底成虫羽化结束。成虫多在夜间活动取食，白天静伏在树冠枝叶上，有较强有趋光性。
    &emsp;&emsp;以幼虫取食危害，1—2龄幼虫能叶丝下垂，随风飘移，扩散危害。其危害方式为幼虫将针叶咬成断茬或缺刻状，咬伤处多呈黄绿色，受害林木枝梢枯秃，发黄变干，生长势衰退，似干枯状，2-3年内不长新叶，林分的主要功能明显降低，严重时可以把整株树叶吃光，造成树势衰弱，加速树木死亡。

</p>
<p>
    <strong>危害特征：</strong>
    侧柏毒蛾主要危害侧柏、刺柏、圆柏等的嫩芽、嫩枝和老叶，侧柏毒蛾幼虫将针叶咬成断茬或缺刻状，咬伤处多呈黄绿色，严重时可以把整株树叶吃光，受害林木枝梢枯秃，生长势衰退，似干枯状呈现一片灰色，2-3年内不长新叶，造成树势衰弱，加速树木死亡，林分的主要功能明显降低。

</p>


<strong>侧柏毒蛾防治历：</strong>
<table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
        <th>时间</th>
        <th>虫态</th>
        <th>防治方法</th>
        <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>5月上旬-6月底</td>
        <td>幼虫</td>
        <td>使用布撒器噻虫啉灭虫药包防治</td>
        <td>规格：6-10个药包/亩林地</td>
    </tr>
    <tr>
        <td>规格：6-10个药包/亩林地</td>
        <td>幼虫、蛹 </td>
        <td>人工捉虫砸蛹</td>
        <td>设置收购点</td>
    </tr>
    <tr>
        <td>7月下旬-8月底 </td>
        <td>成虫羽化期</td>
        <td>悬挂黑灯光杀虫灯诱杀成虫</td>
        <td>采用7号杀虫灯</td>
    </tr>
    </tbody>
</table>

![虫茧](/picture/ '虫茧')

![预蛹](/picture/ '虫茧')

![虫茧](/picture/ '虫茧')

![成虫](/picture/ '成虫')

