
<p>
    <strong>种名：</strong>
    小檗绢粉蝶

</p>
<p>
    <strong>拉丁名：</strong>
    Cydia grunertiana (Zeller)

</p>
<p>
    <strong>分类地位：</strong>
    小檗绢粉蝶，Aporia hippia (Bremer)，粉蝶科绢粉蝶属

</p>
<p>
    <strong>分布与危害：</strong>
    国内分布于黑龙江、吉林、青海、宁夏、陕西、河南、河北、山西、江西、广西、台湾、云南、贵州、西藏；武威、兰州（榆中）、定西、平凉（华亭、崇信、灵台）、庆阳（镇原、华池、宁县、正宁）、天水（清水）、陇南（文县）青海省内分布：祁连山北坡、互助县。

</p>
<p>
    <strong>寄主：</strong>
    鲜黄小檗、匙叶小檗

</p>
<p>
    <strong>主要识别特征：</strong>
    昆虫形态和习性:成虫翅展55~65mm,后翅里暗赭色，有一黄色基斑。两翅的翅脉和前翅中室端横脉附近有较宽的黑色条纹，外缘黑色，向内呈深锯齿状。成虫常在在6~7月发生较普遍。幼虫以小檗科植物为食,如黄芦木,华小檗,紫小檗.三颗针等为食。
    生物学特性：该虫在互助北山林区1年发生一代，幼虫有群居现象,以低龄幼虫筑巢越冬，每年春季3-4月份开始出巢，4龄后幼虫分散生活。
</p>
<p>
    <strong>危害特征：</strong>
    以幼虫取食鲜黄小檗、匙叶小檗啃食嫩叶为害，危害严重时能在短期内将全部小檗叶片吃光，植株呈枯死状，造成林木生长停止，甚至林木死亡。
</p>


<strong>黄檗粉蝶防治历：</strong>
<table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
        <th>时间</th>
        <th>虫态</th>
        <th>防治方法</th>
        <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>3月份</td>
        <td>幼虫</td>
        <td>组织人工剪除虫包</td>
        <td></td>
    </tr>
    <tr>
        <td>11月份</td>
        <td>幼虫 </td>
        <td>组织人工剪除虫包</td>
        <td></td>
    </tr>
    </tbody>
</table>

![虫茧](/picture/ '虫茧')

![预蛹](/picture/ '虫茧')

![虫茧](/picture/ '虫茧')

![成虫](/picture/ '成虫')

