<p>
    <strong>种名：</strong>
    桦三节叶蜂
</p>
<p>
    <strong>拉丁名：</strong>
    Arge pullata (Zaddach)
</p>
<p>
    <strong>分类地位：</strong>
    属膜翅目, 广腰亚目, 三节叶蜂科, 三节叶蜂属。
</p>
<p>
    <strong>分布与危害：</strong>
    国内首次在祁连山东端甘肃的天祝、 永登、青海的互助等县发现，后在湖北神农架也发生；国外分布在中欧 、乌克兰、亚美尼亚、俄罗斯东至西伯利亚及哈萨林岛。
</p>
<p>
    <strong>寄主：</strong>
    红桦
</p>
<p>
    <strong>主要形态特征：</strong>
    雌成虫体长10-12mm， 雄成虫体长8-9mm, 体和足呈黑蓝色、触角黑色、翅淡黑色, 具蓝色反光, 前端色较淡； 头部和胸部具短黑细毛。雄虫眼后头稍扩大, 雌虫的则高度扩大； 雌虫唇基前缘稍凹入, 雄虫的则更加凹入； 脸较光亮, 无很密刻点, 无中脊； 雌虫额沟小, 末端较宽； 雄虫具较明显的侧脊；单眼后区隆起； 横缝及侧缝明显；雌虫触角长较胸部长稍短, 高度变曲, 尖端明显变粗；雄虫触角第3节稍长于头胸部之和, 粗而微弯曲。腹部发亮；幼虫体黄色，头部, 胸足, 背面形成6条纵列的几丁质小结节, 中部体节侧面足上方的小结节, 末节上大斑均为黑蓝色。卵初产时为淡黄色, 孵化时渐变为黑色。蛹黄色。雌蛹长约14mm；后足长达腹部第5节背板后缘。雄蛹长约9mm；后足长达腹部第7节背板后缘。
</p>
<p>
    <strong>生物学特性：</strong>
    在互助北山林区一年发生1 代， 以预蛹越冬，翌年5月中下旬开始化蛹,6 月上旬羽化, 下旬为盛期, 羽化不整齐, 历期较长。成虫飞翔力不强, 未见取食, 羽化后在枝上爬行；4-5 小时后寻偶交配, 全天都可看到交尾现象。交尾后的雌成虫在枝条相邻叶片叶缘齿中产卵, 每齿1粒。7月上旬就可见到孵化的幼虫,7 月下旬为孵化盛期。幼虫孵化后群集一处, 从叶缘向内取食, 当将产卵叶食尽后, 即转移到其他叶片继续取食； 受害叶片仅留粗壮的叶脉。进入4龄的幼虫10天左右后停止取食,于8月下旬陆续爬到主杆上, 在翘起的桦皮内群集结茧越冬, 9月下旬为结茧盛期。结茧时虫体缩小到老熟幼虫的约1/2长度, 茧成块分布,一般每茧块有茧30 个以上, 仅有1 个的很少。此虫在红桦纯林内呈团块状分布, 海拔高低对分布无影响； 中、近熟林受害严重； 幼树有虫, 但不成灾。

</p>
<p>
    <strong>危害特征：</strong>
    桦三节叶蜂是只以红桦为危害对象的食叶性害虫，以危害健康红桦树木为特征，幼虫取食红桦树叶危害，卵初孵化后1龄幼虫取食叶肉，仅残留网状叶脉部分，2 龄以后至老熟幼虫食量逐渐增大，2 龄幼虫开始随着食量增大，在该寄主分散危害并蚕食全叶。大量发生、危害严重时能在短期内将全部树叶吃光，林分呈枯死状，造成林木生长停止，甚至林木死亡。

</p>


<strong>桦三节叶蜂防治历：</strong>
<table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
        <th>时间</th>
        <th>虫态</th>
        <th>防治方法</th>
        <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>7月份</td>
        <td>幼虫</td>
        <td>2%烟碱苦参碱乳油喷烟防治</td>
        <td>防治时需避开天敌羽化高峰期及产卵盛期</td>
    </tr>
    <tr>
        <td>9月下旬</td>
        <td></td>
        <td>组织人工摘除虫茧</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4">保护叶峰天敌</td>
    </tr>
    </tbody>
</table>

![虫茧](/picture/ '虫茧')

![预蛹](/picture/ '虫茧')

![虫茧](/picture/ '虫茧')

![成虫](/picture/ '成虫')
