
<p>
    <strong>种名：</strong>
    松皮小卷蛾

</p>
<p>
    <strong>拉丁名：</strong>
    Laspeyresia grunertiana (Ratzeburg)

</p>
<p>
    <strong>分类地位：</strong>
    属鳞翅目、卷蛾科、小卷蛾亚科小卷蛾属的一种昆虫。

</p>
<p>
    <strong>分   布：</strong>
    国内黑龙江、辽宁有分布；青海省内海东市平安县、民和县、乐都县、互助县，西宁市湟中县、大通县均有分布。
</p>

<p>
    <strong>寄主：</strong>
    青海云杉、油松、青杄。
</p>
<p>
    <strong>主要识别特征：</strong>
    <strong>成虫</strong> 翅展12－13 mm。灰黑色。头部有较长的白色鳞片，复眼黑色（少数红色），下唇须略向上弯曲。前翅基斑暗灰色，中间部分凸出，基斑与中横带间为白色，其中混杂一些黑色短条斑；前翅前半部为黑灰褐色，中横带偏下方有1个黑色圆斑，圆斑外侧有2条断续银灰色带金属光泽的条纹，2条纹之间中央部分有4个黑斑点；前缘有7 个黑色短钩状级；外缘黑色，有上、中、下3个白斑点。后翅灰色，近基部色稍淡，缘毛白色，缘毛比前翅长。 <strong>卵</strong> 扁椭圆形，长 0．5—0．6 mm，宽 0．3—0．4 mm。初产时乳黄色，很快变成鲜红色，孵化前暗紫红色。<strong>幼虫</strong>   体长11 mm，头宽0．7—0.8mm。体污白色或灰白色，头部杏黄色，单眼黑褐色或浅黑色。前胸背板褐色，前缘和后缘有黄褐色凹陷，肛土板褐色，近前线有许多排成带状的深褐色斑点。有些个体腹部背面第四至第五节间为褐色。 <strong>蛹</strong> 长 5 mm，宽 1．6—2 mm，黄色或黄褐色。头顶有黑色刺突 2枚。复眼黑褐色。臀棘8根，非常细弱，其中4根长而明显，另4根短小而不明显。
</p>
<p>
    <strong>生物学特性：</strong>
    1年发生1代，以幼虫卷曲在落叶松皮下吐丝作薄网越冬。第二年4月上旬树木发叶时，幼虫开始在树皮下活动危害。5月上旬，幼虫向树皮表层活动，吐丝作茧，在推出的虫粪中化蛹。于5月下旬—6月是旬成虫羽化，蛹壳挂在虫粪上，垂直或向上倾斜。成虫晴天多于14－17时在树冠中部活动，少数沿林间空地作迂回飞翔，进行交尾；阴天飞翔较少；清晨不大活动，夜间活动更少。趋光性弱。卵多产在针叶端部背面，排成2行，每行最多6粒。树冠下部产卵最多，中部次之，上部最少。在密林、混交林内产卵少。每只雌蛾平均产卵33粒，最多105粒。雄蛾寿命2－9天，雌蛾5－13天。卵期8—10天。9—11时孵化较多。初孵幼虫十分活泼，稍遇惊扰即吐丝下垂。孵化后1—2小时即钻入树皮下，10天后在靠近树皮处吐丝作圆形白色薄网，卷曲在内，再经3—5天脱第一次皮，第二龄幼虫开始食害树木表层，形成浅而细的坑道；3龄以后已食进韧皮部，形成较宽的坑道，并排出木屑。被害严重的树有流脂现象。这是识别松皮小卷蛾幼虫危害的重要特征。 此虫在幼树上发生重于老树（幼树中又以7—12年生的重于5年生以下的），疏林重于密林，林绿重于林内。 天敌 幼虫有金小蜂；蛹有寄生蝇。
</p>
<p>
    <strong>危害特征：</strong>
    食害树木表层，并排出黄褐色木屑。被害树木有流脂现象。
</p>


<strong>松皮小卷蛾防治历：</strong>
<table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
        <th>时间</th>
        <th>虫态</th>
        <th>防治方法</th>
        <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>5月份</td>
        <td>蛹期</td>
        <td>采取人工机械防治用小刀或剪刀将裸露在外的虫粪连带虫蛹进行刮除抹杀蛹</td>
        <td>适宜于栽植密度不太大、苗高1.5米以上的苗圃。</td>
    </tr>
    <tr>
        <td>5月下旬至6月上旬</td>
        <td>成虫期 </td>
        <td>用苦参碱、噻虫啉、高效氯氰菊酯、吡虫啉等喷雾制剂进行喷雾防治，杀灭成虫</td>
        <td>5天防治一次，争取苗木树干及树冠各个部分都喷湿下滴为原则。</td>
    </tr>
    </tbody>
</table>

![虫茧](/picture/ '虫茧')

![预蛹](/picture/ '虫茧')

![虫茧](/picture/ '虫茧')

![成虫](/picture/ '成虫')

