
<p>
    <strong>种名：</strong>
    云杉大灰象（灰象甲）

</p>
<p>
    <strong>拉丁名：</strong>
    Sympiezomias velatus

</p>
<p>
    <strong>分类地位：</strong>
    属鞘翅目、象甲科、斑鄂象甲亚科、灰象属

</p>
<p>
    <strong>分   布：</strong>
    大灰象主要分布于中国辽宁、内蒙古、北京、河北、河南、山西、陕西、湖北、安徽等省、市、区。青海省内分布于湟中县、互助县。
</p>

<p>
    <strong>寄主：</strong>
    在互助北山林区危害青海云杉。
</p>
<p>
    <strong>主要识别特征：</strong>
    成虫：雄虫体长7.3-9.5mm,宽3.2-4.3mm。雌虫体长8.0-12.1mm,宽3.9-5.2mm。体粗壮、椭圆形、淡褐色、密被灰白色、灰黄色或黄褐色鳞毛。前翅宽卵圆形或椭圆形，每鞘翅上各有10条纵沟。后翅退化。卵：长椭圆形长1mm,宽0.4mm。初产时乳白色，两端半透明，近孵化时乳黄色。数十粒卵粘连在一起成为一个卵块。幼虫：老熟幼虫体长14mm，乳白色，乳白色，肥胖，弯曲，各节背面有许多横皱。头部米黄色。蛹：长椭圆形，体长9-10mm。乳黄色。

</p>
<p>
    <strong>生物学特性：</strong>
    云杉大灰象以幼虫越冬，翌年3月底越冬幼虫开始活动，4月中旬化蛹，5月中旬进入成虫羽化盛期，成虫不能飞，常群集于幼苗取食当年新发针叶。幼虫生活于土中，取食青海云杉须根，幼虫在土下60～100厘米深处营土室越冬。

</p>
<p>
    <strong>危害特征：</strong>
    从3年生到12年生苗木均可危害;其幼虫危害青海云杉苗木根系（须根），成虫危害当年新发嫩叶，幼虫危害严重时导致苗木营养不良，植株从顶端针叶开始失绿发灰，最后针叶脱落直至死亡。成虫期取食云杉当年新发针叶，可造成枝梢针叶发黄掉落。

</p>

<p>
    <strong>防治方法：：</strong>
    采用触杀型喷雾药剂，如吡虫啉、苦参碱、高效氯氰菊酯、噻虫啉等防治成虫，幼虫期用辛硫磷灌根杀灭幼虫。

</p>

![虫茧](/picture/ '虫茧')

![预蛹](/picture/ '虫茧')

![虫茧](/picture/ '虫茧')

![成虫](/picture/ '成虫')

