
<div th:switch="${app.name}" th:remove="tag">
    <h1 align="center">林场简介</h1>
    <div th:case="'beishan'" class="row">
        <div class="col-md-8">
            <p>
                互助县北山林场是青海省森林面积和蓄积较大的天然次生林经营林场，地处青海省互助县东北部，祁连山东端，大通河中下游，祁连山支脉冷龙岭南域，支脉达坂山北坡，南北宽40公里，东西长60公里，海拔2100—4308米，林区总面积11.27万公顷，其中林业用地为10.19万公顷，林业用地中有林地面积为4.52万公顷，活立木蓄积量为483万立方米，森林覆盖率68.4%。林区内资源丰富，分布的植物群系多达30余个，目前已定名的高等植物达1320种，隶属117科473属。
            </p>
            <p>
                主要乔木树种有祁连圆柏、青海云杉、青杄、油松、山杨、白桦、红桦、小叶杨等；观赏价值较高的草本植物达300余种，其中，龙胆花、杜鹃花、报春花被誉为高原“三大名花”；野生动物近200种，其中，兽类40种、鸟类139种、鱼类14种、爬行类2种、两栖类3种，列入国家一、二级保护的野生动物共35种，如雪豹、马麝、棕熊、金雕等。
            </p>
            <p>
                北山林区是黄河上游水源涵养林区，2004年被青海省区划界定为国家生态公益林，是青海省重要的天然生态屏障，在维护全省区域生态方面发挥着不可替代的作用。
            </p>
            <p>
                北山林场建于1959年8月，当时归省农林厅领导，1964年1月改为事业单位，1966年划归西北林建兵团青海独立团，改称西北林建兵团独立团互助北山林场，1970年起归互助县领导，改称互助土族自治县北山林场。
            </p>
            <p>
                北山林场现属于科级事业单位，现有职工133人，主要从事公益林建设、森林管护、封山育林、种苗等工作。
            </p>
            <p>
                1998年国家启动并实施天然林保护工程以来，场党委一班人认真落实科学发展观，带领全场职工团结奋进，科学谋划，追求卓越，逐步走上了建设生态文明、推动科学发展的道路，林业建设和各项工作都取得了显著成效。
            </p>
            <p>
                先后荣获全国国营林场先进单位、全国国营林场100佳、全国国营林场500强、海东地区精神文明先进单位、海东地区护林防火先进单位、互助县护林防火先进单位、互助县林业产业化先进单位、首批全国保护母亲河行动生态教育基地，是省级爱国主义教育基地和学校德育基地，省级科普教育基地，2005年被青海省林业局评为“全省天保一期工程先进单位”，2010年被评为青海省“厂务公开工作先进单位”，2011年被青海省总工会评为“海东地区职代会标准化建设先进单位”。
            </p>
        </div>
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img th:src="@{/img/beishan_intro.jpg}" src="../static/img/beishan_intro.jpg">
            </a>
        </div>
    </div>

    <div th:case="'qilian'">
        <p>
            祁连县林场始建于1958年9月，建场前为青海省林业厅森工采伐大队。建场后为青海省林业局直辖的国营伐木场同时为中国人民解放军西北林业建设兵团独立团，受军地双重管辖，1969年后划归祁连县管辖，1974年正式由森工企业转型为经营性林场。自1999年起祁连县全面实施天然林保护工程，林场的经营方式由原来的森林更新、抚育间伐转为以天然林保护和生态公益林建设的公益型林场。主要承担我县林区的森林资源管护、林业重点工程营造林施工、培育造林绿化用苗、森林病虫害防治等非营利性工作。
        </p>
        <h3>（一）生态立场</h3>
        <p>
            多年来，我场把加强森林资源保护作为林场一切工作的基础，不断加大投入、强化措施。一是把森林防火工作当作关系林场生死存亡的头等大事来抓，制定了科学严密的防火制度，组建了半专业防扑火队伍，建立了实时监测网络，取得了建场40多年未发生较大森林火灾的优异成绩。二是建成了国家级森林病虫害预测和防治体系，有效遏制了森林病虫害的发生和危害。三是进一步加大对造林成果拨交、幼林地管护、边界监管、治理乱砍滥伐乱垦等工作力度。妥善处理好生态保护与产业开发之间的关系，通过全方位的生态保护体系建设，确保了森林资源的持续经营，永续利用。
        </p>
        <p>
            近年以来，我场根据省、州、县业务主管部门的安排部署，着眼生态和谐，提高工程建设，并改革资源管理方式，依托争取项目支撑，理顺强化队伍管理，树立建设"生态文明"的理念。努力向打造生态立县的目标前进，同时走"依法治林，科技兴林，苦干育林，团结护林，改革活林"之路，全力推进全县林业生态建设又好又快发展。
        </p>
        <p>
            我场在县委和县政府的正确领导及林业主管部门的具体指导下，认真贯彻落实党的方针政策，坚持改革创新，以"党的群众路线教育实践活动"为契机，全面推行坚持"依法治林，科技兴林，苦干育林，团结护林"的方针。严格执行林业生态建设的方针政策，遵循经济发展与生态环境保护并重和同步发展原则，为积极争创 "三城三区"奠定良好的社会基础。抓管理求效益，把振兴林场经济，发展林业生产推向新的高潮。
        </p>
        <h3>（二）营林强场</h3>
        <p>
            我场培育绿化苗木主要是以造林苗为主，备以自用或少量向周边农村造林户提供。林场领导班子积极努力调研周边绿化苗木市场，认真领会国家对林业产业政策精神，总结出：一是，城市园林化进程不断加快，绿化苗木需求量在稳步增加；二是，道路绿化、城市森林建设种苗需求迅速增长；三是，小城镇和新农村建设是绿化苗木产业发展的又一潜在市场。我场利用自身山场的优势，在本地区苗木行业唱主角，一直独领风骚，规模也是可观。我场把绿化苗木发展做为提升经济的重大方向，一方面从资源整合、林种结构调整入手，大力发展绿化苗木，近三年来林场造林面积达2.48万亩；育苗面积达120余亩，出库苗木数量达100余万株（其中：白杨苗30余万株，圆柏苗10余万株，云杉苗60余万株）。
        </p>
        <p>
            为了搞活林区经济，发展林业多种经营，场领导班子成立专门小组，对周边市场进行多次调研，收集掌握各类苗木市场信息，利用自身优势，扩大绿化苗木培育规模。力争成为我县乃至全州地区最大的乔木类绿化苗木供应基地。
        </p>
        <h3>（三）人才兴场</h3>
        <p>
            祁连县林业总场和祁连县峨堡、芒扎、扎麻什、野牛沟四个分场组成、具体人员编制核定为林业总场76人、峨堡68人、芒扎59人、大通河38人、野牛沟70人。共计：314人。目前、上述机构实有人员情况为林业总场65人、峨堡22人、芒扎18人、大通河22人、野牛沟31人、共计：158人，空编156人。（其中各类专业技术人员46人，管理人员11人，职工101人），两退人员51人；遗属补助人员29人。
         </p>
        <p>
            目前祁连县林场内设综合办、营造林生产办、安全防火办、绩效办四大科室，下设苗圃（总面积195亩，实际育苗面积78.8亩。主要培育祁连圆柏、青海云杉、青杨、小叶杨、红柳、桦树等。年各类苗木出圃能力达30余万株。）和八宝、扎麻什、芒扎、默勒、四个管护站，另外，还在峨堡设立木材检查站一处。总体工作由林业总场开展，其余四个分场实际为四个管护站为名。
        </p>
        <p>
            祁连林场承担着我县314.57万亩森林资源的监管和林业行政执法工作，共涉及护林防火、森林植物检疫木材经营加工管理执法等林政执法项目，目前有符合国家林业局颁发的全国林政执法证件的行政执法人员33人。
        </p>
        <p>
            近年我场多次与西北农林科技大学青海大学函授站协商，商定由我场协助西北农林科技大学在我县开办西北农林科技大学林学专业本科和专科两个层次的半脱产函授班。近三年来我场37名职工取得了林业专业大专以上学历， 同时也提升我场林业工作者的学历层次、全面提高了我场林业职工的专业技术能力和专业知识面，管护能力和苗圃职工的培育育苗技术，为在今后的工作中为推动我县林业建设又好又快的发展而打下了坚实的基础。
        </p>
        <h3>（四）创先靓场</h3>
        <p>
            我场于2002年被国家林业局授予"全国质量信得过苗圃"，2004年被青海省绿化委员会、人事厅、林业局授予"全省林业系统先进集体"，2007年被海北州藏族自治州残疾人工作委员会评为"全州扶残助残先进集体"，多年被祁连县委、人民政府、林业环保局评为"平安单位"、"林业建设先进集体""护林防火先进单位"等。今年中央一号文件又明确了扶持林业产业发展，支持发展林农合作社，促进林农增收效益，启动国有林场改革，支持国有林场基础建设，我们将一如既往，认真筹划林场的未来与发展，促进林场经济以好又快的发展。
        </p>
    </div>
</div>
