<div class="page-header">
 <h1 align="center">互助北山常见有害生物 </h1>
</div>

<h2 align="center">虫害</h2>
<div class="panel panel-default">
 <div class="panel-heading">侧柏毒蛾</div>
 <div class="panel-body">
  <div>
   <p>
    <strong>拉丁名：</strong>
    Parocneria furva (Leech)
   </p>
   <p>
    <strong>分类地位：</strong>
    鳞翅目 毒蛾科 柏毒蛾属 毒蛾科
   </p>
   <p>
    <strong>分布范围：</strong>
    日本、朝鲜；东北、青海、宁夏、陕西、北京、河北、河南、山东、安徽、江苏、浙江、湖北、湖南、广西、四川、兰州、庆阳、平凉。青海省内分布黄南州麦秀林场、互助县北山林场、门源县仙米林场
   </p>
   <p>
    <strong>寄主：</strong>
    祁连圆柏、侧柏、桧柏、黄桧等柏类。
   </p>
   <p>
    <strong>主要识别特征：</strong>
    体成褐色，体长14~20 mm，翅展17~33 mm。雌虫触角灰白色呈短栉齿状。前翅浅灰色，翅面有不显著的齿状波纹，近中室处有一暗色斑点，外缘较暗，布有若干黑斑，后翅浅黑色，带花纹。雄虫触角灰黑色，呈羽毛状，体色较雌虫深，为深近灰褐色，前翅花纹完全消失。<strong>卵</strong> 扁圆球形，初产时为青绿色，后渐变为黄褐色,孵化前变黑褐色。<strong>幼虫</strong>老熟时体长23 mm，全体近灰褐色，形成较宽的纵带。在纵带两边镶有不规则的灰黑色斑点，相连如带。腹部第6、7节背面中央各有一个淡红色的翻缩线。身体各节具有黄褐色毛瘤，上着生粗细不一的刚毛。<strong>蛹</strong> 灰褐色，头顶具毛丛，腹部各节具有灰褐色的斑点，上生白色细毛，腹末具有深褐色的钩状毛。
   </p>
   <p>
    <strong>生物学特性：</strong>
    侧柏毒蛾在互助北山林区一年发生1代，以卵在柏树树皮缝隙、叶、小枝上越冬。次年3月底越冬卵开始孵化为害，6月中旬老熟幼虫在树皮下、枯枝落叶中开始化蛹，6月下旬为化蛹盛期，7月中旬蛹开始羽化成虫，并开始产卵，7月底成虫羽化结束。成虫多在夜间活动取食，白天静伏在树冠枝叶上，有较强有趋光性。
    &emsp;&emsp;以幼虫取食危害，1—2龄幼虫能叶丝下垂，随风飘移，扩散危害。其危害方式为幼虫将针叶咬成断茬或缺刻状，咬伤处多呈黄绿色，受害林木枝梢枯秃，发黄变干，生长势衰退，似干枯状，2-3年内不长新叶，林分的主要功能明显降低，严重时可以把整株树叶吃光，造成树势衰弱，加速树木死亡。

   </p>
   <p>
    <strong>危害特征：</strong>
    侧柏毒蛾主要危害侧柏、刺柏、圆柏等的嫩芽、嫩枝和老叶，侧柏毒蛾幼虫将针叶咬成断茬或缺刻状，咬伤处多呈黄绿色，严重时可以把整株树叶吃光，受害林木枝梢枯秃，生长势衰退，似干枯状呈现一片灰色，2-3年内不长新叶，造成树势衰弱，加速树木死亡，林分的主要功能明显降低。

   </p>


   <strong>侧柏毒蛾防治历：</strong>
   <table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
     <th>时间</th>
     <th>虫态</th>
     <th>防治方法</th>
     <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td>5月上旬-6月底</td>
     <td>幼虫</td>
     <td>使用布撒器噻虫啉灭虫药包防治</td>
     <td>规格：6-10个药包/亩林地</td>
    </tr>
    <tr>
     <td>规格：6-10个药包/亩林地</td>
     <td>幼虫、蛹 </td>
     <td>人工捉虫砸蛹</td>
     <td>设置收购点</td>
    </tr>
    <tr>
     <td>7月下旬-8月底 </td>
     <td>成虫羽化期</td>
     <td>悬挂黑灯光杀虫灯诱杀成虫</td>
     <td>采用7号杀虫灯</td>
    </tr>
    </tbody>
   </table>
   <div class="fancybox">
    <a th:each="pic : ${map['侧柏毒蛾']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
          <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" >
    </a>
   </div>
  </div>
 </div>
</div>


<div class="panel panel-default">
 <div class="panel-heading">小檗绢粉蝶</div>
 <div class="panel-body">
  <div>
   <p>
    <strong>拉丁名：</strong>
    Aporia hippia (Bremer)

   </p>
   <p>
    <strong>分类地位：</strong>
    小檗绢粉蝶，Aporia hippia (Bremer)，粉蝶科绢粉蝶属

   </p>
   <p>
    <strong>分布与危害：</strong>
    国内分布于黑龙江、吉林、青海、宁夏、陕西、河南、河北、山西、江西、广西、台湾、云南、贵州、西藏；武威、兰州（榆中）、定西、平凉（华亭、崇信、灵台）、庆阳（镇原、华池、宁县、正宁）、天水（清水）、陇南（文县）青海省内分布：祁连山北坡、互助县。

   </p>
   <p>
    <strong>寄主：</strong>
    鲜黄小檗、匙叶小檗

   </p>
   <p>
    <strong>主要识别特征：</strong>
    昆虫形态和习性:成虫翅展55~65mm,后翅里暗赭色，有一黄色基斑。两翅的翅脉和前翅中室端横脉附近有较宽的黑色条纹，外缘黑色，向内呈深锯齿状。成虫常在在6~7月发生较普遍。幼虫以小檗科植物为食,如黄芦木,华小檗,紫小檗.三颗针等为食。
    生物学特性：该虫在互助北山林区1年发生一代，幼虫有群居现象,以低龄幼虫筑巢越冬，每年春季3-4月份开始出巢，4龄后幼虫分散生活。
   </p>
   <p>
    <strong>危害特征：</strong>
    以幼虫取食鲜黄小檗、匙叶小檗啃食嫩叶为害，危害严重时能在短期内将全部小檗叶片吃光，植株呈枯死状，造成林木生长停止，甚至林木死亡。
   </p>


   <strong>黄檗粉蝶防治历：</strong>
   <table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
     <th>时间</th>
     <th>虫态</th>
     <th>防治方法</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td>3月份</td>
     <td>幼虫</td>
     <td>组织人工剪除虫包</td>
    </tr>
    <tr>
     <td>11月份</td>
     <td>幼虫 </td>
     <td>组织人工剪除虫包</td>
    </tr>
    </tbody>
   </table>
   <div class="fancybox">
    <a th:each="pic : ${map['小檗绢粉蝶']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
          <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" >
    </a>
   </div>

  </div>
 </div>
</div>
<div class="panel panel-default">
 <div class="panel-heading">桦三节叶蜂</div>
 <div class="panel-body">
  <div>
   <p>
    <strong>拉丁名：</strong>
    Arge pullata (Zaddach)
   </p>
   <p>
    <strong>分类地位：</strong>
    属膜翅目, 广腰亚目, 三节叶蜂科, 三节叶蜂属。
   </p>
   <p>
    <strong>分布与危害：</strong>
    国内首次在祁连山东端甘肃的天祝、 永登、青海的互助等县发现，后在湖北神农架也发生；国外分布在中欧 、乌克兰、亚美尼亚、俄罗斯东至西伯利亚及哈萨林岛。
   </p>
   <p>
    <strong>寄主：</strong>
    红桦
   </p>
   <p>
    <strong>主要形态特征：</strong>
    雌成虫体长10-12mm， 雄成虫体长8-9mm, 体和足呈黑蓝色、触角黑色、翅淡黑色, 具蓝色反光, 前端色较淡； 头部和胸部具短黑细毛。雄虫眼后头稍扩大, 雌虫的则高度扩大； 雌虫唇基前缘稍凹入, 雄虫的则更加凹入； 脸较光亮, 无很密刻点, 无中脊； 雌虫额沟小, 末端较宽； 雄虫具较明显的侧脊；单眼后区隆起； 横缝及侧缝明显；雌虫触角长较胸部长稍短, 高度变曲, 尖端明显变粗；雄虫触角第3节稍长于头胸部之和, 粗而微弯曲。腹部发亮；幼虫体黄色，头部, 胸足, 背面形成6条纵列的几丁质小结节, 中部体节侧面足上方的小结节, 末节上大斑均为黑蓝色。卵初产时为淡黄色, 孵化时渐变为黑色。蛹黄色。雌蛹长约14mm；后足长达腹部第5节背板后缘。雄蛹长约9mm；后足长达腹部第7节背板后缘。
   </p>
   <p>
    <strong>生物学特性：</strong>
    在互助北山林区一年发生1 代， 以预蛹越冬，翌年5月中下旬开始化蛹,6 月上旬羽化, 下旬为盛期, 羽化不整齐, 历期较长。成虫飞翔力不强, 未见取食, 羽化后在枝上爬行；4-5 小时后寻偶交配, 全天都可看到交尾现象。交尾后的雌成虫在枝条相邻叶片叶缘齿中产卵, 每齿1粒。7月上旬就可见到孵化的幼虫,7 月下旬为孵化盛期。幼虫孵化后群集一处, 从叶缘向内取食, 当将产卵叶食尽后, 即转移到其他叶片继续取食； 受害叶片仅留粗壮的叶脉。进入4龄的幼虫10天左右后停止取食,于8月下旬陆续爬到主杆上, 在翘起的桦皮内群集结茧越冬, 9月下旬为结茧盛期。结茧时虫体缩小到老熟幼虫的约1/2长度, 茧成块分布,一般每茧块有茧30 个以上, 仅有1 个的很少。此虫在红桦纯林内呈团块状分布, 海拔高低对分布无影响； 中、近熟林受害严重； 幼树有虫, 但不成灾。

   </p>
   <p>
    <strong>危害特征：</strong>
    桦三节叶蜂是只以红桦为危害对象的食叶性害虫，以危害健康红桦树木为特征，幼虫取食红桦树叶危害，卵初孵化后1龄幼虫取食叶肉，仅残留网状叶脉部分，2 龄以后至老熟幼虫食量逐渐增大，2 龄幼虫开始随着食量增大，在该寄主分散危害并蚕食全叶。大量发生、危害严重时能在短期内将全部树叶吃光，林分呈枯死状，造成林木生长停止，甚至林木死亡。

   </p>


   <strong>桦三节叶蜂防治历：</strong>
   <table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
     <th>时间</th>
     <th>虫态</th>
     <th>防治方法</th>
     <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td>7月份</td>
     <td>幼虫</td>
     <td>2%烟碱苦参碱乳油喷烟防治</td>
     <td>防治时需避开天敌羽化高峰期及产卵盛期</td>
    </tr>
    <tr>
     <td>9月下旬</td>
     <td></td>
     <td>组织人工摘除虫茧</td>
     <td></td>
    </tr>
    <tr>
     <td colspan="4">保护叶峰天敌</td>
    </tr>
    </tbody>
   </table>
   <div class="fancybox">
    <a th:each="pic : ${map['桦三节叶蜂']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
          <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" >
    </a>
   </div>


  </div>
 </div>
</div>

<div class="panel panel-default">
 <div class="panel-heading">    松皮小卷蛾</div>
 <div class="panel-body">
  <div>
   <p>
    <strong>拉丁名：</strong>
    Laspeyresia grunertiana (Ratzeburg)

   </p>
   <p>
    <strong>分类地位：</strong>
    属鳞翅目、卷蛾科、小卷蛾亚科小卷蛾属的一种昆虫。

   </p>
   <p>
    <strong>分   布：</strong>
    国内黑龙江、辽宁有分布；青海省内海东市平安县、民和县、乐都县、互助县，西宁市湟中县、大通县均有分布。
   </p>

   <p>
    <strong>寄主：</strong>
    青海云杉、油松、青杄。
   </p>
   <p>
    <strong>主要识别特征：</strong>
    <strong>成虫</strong> 翅展12－13 mm。灰黑色。头部有较长的白色鳞片，复眼黑色（少数红色），下唇须略向上弯曲。前翅基斑暗灰色，中间部分凸出，基斑与中横带间为白色，其中混杂一些黑色短条斑；前翅前半部为黑灰褐色，中横带偏下方有1个黑色圆斑，圆斑外侧有2条断续银灰色带金属光泽的条纹，2条纹之间中央部分有4个黑斑点；前缘有7 个黑色短钩状级；外缘黑色，有上、中、下3个白斑点。后翅灰色，近基部色稍淡，缘毛白色，缘毛比前翅长。 <strong>卵</strong> 扁椭圆形，长 0．5—0．6 mm，宽 0．3—0．4 mm。初产时乳黄色，很快变成鲜红色，孵化前暗紫红色。<strong>幼虫</strong>   体长11 mm，头宽0．7—0.8mm。体污白色或灰白色，头部杏黄色，单眼黑褐色或浅黑色。前胸背板褐色，前缘和后缘有黄褐色凹陷，肛土板褐色，近前线有许多排成带状的深褐色斑点。有些个体腹部背面第四至第五节间为褐色。 <strong>蛹</strong> 长 5 mm，宽 1．6—2 mm，黄色或黄褐色。头顶有黑色刺突 2枚。复眼黑褐色。臀棘8根，非常细弱，其中4根长而明显，另4根短小而不明显。
   </p>
   <p>
    <strong>生物学特性：</strong>
    1年发生1代，以幼虫卷曲在落叶松皮下吐丝作薄网越冬。第二年4月上旬树木发叶时，幼虫开始在树皮下活动危害。5月上旬，幼虫向树皮表层活动，吐丝作茧，在推出的虫粪中化蛹。于5月下旬—6月是旬成虫羽化，蛹壳挂在虫粪上，垂直或向上倾斜。成虫晴天多于14－17时在树冠中部活动，少数沿林间空地作迂回飞翔，进行交尾；阴天飞翔较少；清晨不大活动，夜间活动更少。趋光性弱。卵多产在针叶端部背面，排成2行，每行最多6粒。树冠下部产卵最多，中部次之，上部最少。在密林、混交林内产卵少。每只雌蛾平均产卵33粒，最多105粒。雄蛾寿命2－9天，雌蛾5－13天。卵期8—10天。9—11时孵化较多。初孵幼虫十分活泼，稍遇惊扰即吐丝下垂。孵化后1—2小时即钻入树皮下，10天后在靠近树皮处吐丝作圆形白色薄网，卷曲在内，再经3—5天脱第一次皮，第二龄幼虫开始食害树木表层，形成浅而细的坑道；3龄以后已食进韧皮部，形成较宽的坑道，并排出木屑。被害严重的树有流脂现象。这是识别松皮小卷蛾幼虫危害的重要特征。 此虫在幼树上发生重于老树（幼树中又以7—12年生的重于5年生以下的），疏林重于密林，林绿重于林内。 天敌 幼虫有金小蜂；蛹有寄生蝇。
   </p>
   <p>
    <strong>危害特征：</strong>
    食害树木表层，并排出黄褐色木屑。被害树木有流脂现象。
   </p>


   <strong>松皮小卷蛾防治历：</strong>
   <table class="table table-bordered table-hover table-condensed ">
    <thead>
    <tr>
     <th>时间</th>
     <th>虫态</th>
     <th>防治方法</th>
     <th>要点说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td>5月份</td>
     <td>蛹期</td>
     <td>采取人工机械防治用小刀或剪刀将裸露在外的虫粪连带虫蛹进行刮除抹杀蛹</td>
     <td>适宜于栽植密度不太大、苗高1.5米以上的苗圃。</td>
    </tr>
    <tr>
     <td>5月下旬至6月上旬</td>
     <td>成虫期 </td>
     <td>用苦参碱、噻虫啉、高效氯氰菊酯、吡虫啉等喷雾制剂进行喷雾防治，杀灭成虫</td>
     <td>5天防治一次，争取苗木树干及树冠各个部分都喷湿下滴为原则。</td>
    </tr>
    </tbody>
   </table>
   <div class="fancybox">
    <a th:each="pic : ${map['松皮小卷蛾']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
     <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" >
    </a>
   </div>
  </div>
 </div>
</div>

<div class="panel panel-default">
 <div class="panel-heading">云杉大灰象</div>
 <div class="panel-body">
  <div>
   <p>
    <strong>拉丁名：</strong>
    Sympiezomias velatus

   </p>
   <p>
    <strong>分类地位：</strong>
    属鞘翅目、象甲科、斑鄂象甲亚科、灰象属

   </p>
   <p>
    <strong>分   布：</strong>
    大灰象主要分布于中国辽宁、内蒙古、北京、河北、河南、山西、陕西、湖北、安徽等省、市、区。青海省内分布于湟中县、互助县。
   </p>

   <p>
    <strong>寄主：</strong>
    在互助北山林区危害青海云杉。
   </p>
   <p>
    <strong>主要识别特征：</strong>
    成虫：雄虫体长7.3-9.5mm,宽3.2-4.3mm。雌虫体长8.0-12.1mm,宽3.9-5.2mm。体粗壮、椭圆形、淡褐色、密被灰白色、灰黄色或黄褐色鳞毛。前翅宽卵圆形或椭圆形，每鞘翅上各有10条纵沟。后翅退化。卵：长椭圆形长1mm,宽0.4mm。初产时乳白色，两端半透明，近孵化时乳黄色。数十粒卵粘连在一起成为一个卵块。幼虫：老熟幼虫体长14mm，乳白色，乳白色，肥胖，弯曲，各节背面有许多横皱。头部米黄色。蛹：长椭圆形，体长9-10mm。乳黄色。

   </p>
   <p>
    <strong>生物学特性：</strong>
    云杉大灰象以幼虫越冬，翌年3月底越冬幼虫开始活动，4月中旬化蛹，5月中旬进入成虫羽化盛期，成虫不能飞，常群集于幼苗取食当年新发针叶。幼虫生活于土中，取食青海云杉须根，幼虫在土下60～100厘米深处营土室越冬。

   </p>
   <p>
    <strong>危害特征：</strong>
    从3年生到12年生苗木均可危害;其幼虫危害青海云杉苗木根系（须根），成虫危害当年新发嫩叶，幼虫危害严重时导致苗木营养不良，植株从顶端针叶开始失绿发灰，最后针叶脱落直至死亡。成虫期取食云杉当年新发针叶，可造成枝梢针叶发黄掉落。

   </p>

   <p>
    <strong>防治方法：：</strong>
    采用触杀型喷雾药剂，如吡虫啉、苦参碱、高效氯氰菊酯、噻虫啉等防治成虫，幼虫期用辛硫磷灌根杀灭幼虫。

   </p>
   <div class="fancybox">
    <a th:each="pic : ${map['云杉大灰象']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
     <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" >
    </a>
   </div>

  </div>
 </div>
</div>
<style>
 .fancybox .fancybox-thumb img{
  width: auto;
  height: 200px;
 }
</style>
<script>
    $(".fancybox").each(function () {
        var fancy = [];
        var thumbs = $(this).find('.fancybox-thumb');
        $.each(thumbs, function () {
            var picture = {};
            picture.href = $(this).attr('href');
            picture.title = $(this).attr('title');
            fancy.push(picture);

        });
        thumbs.click(function () {
            $.fancybox(fancy, {type: "image", loop: false});
            return false;
        });

    });
</script>
