<div class="page-header">
    <h1 align="center">祁连林业常见有害生物 </h1>
</div>

<h2 align="center">鼠害</h2>
<div class="panel panel-default">
    <div class="panel-heading">高原鼢鼠</div>
    <div class="panel-body">
        <div>

            <p>
                <strong>拉丁名：</strong>
                Myospalax balleyi
            </p>
            <p>
                <strong>分类地位：</strong>
                啮齿目仓鼠科。

            </p>
            <p>
                <strong>寄    主：</strong>
                金露梅、银露梅、沙棘。

            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、默勒镇、扎麻什乡、阿柔乡、野牛沟乡，央隆乡。

            </p>
            <p>
                <strong>形态特征：</strong>
                体稍粗壮。成鼠体长190～250mm，一般雄性大于雌性。头宽扁，鼻端平钝。四肢较短，前肢粗壮有力，具有镰刀状锐爪，外耳壳退化，匿隐毛下，眼特别小。尾巴较短，仅3.5～6.0cm，覆以浓密短毛；背部被毛柔软丰厚并有丝光。

            </p>
            <p>
                <strong>生活习性：</strong>
                高原鼢鼠是典型的地下生活的鼠类，主要活跃在海拔2800～4300m的耕地、草滩、退耕还林地、幼林地和阳坡草场等。终年在地下活动不冬眠，只有偶然的机会才在地面出现暂短的时间。高原鼢鼠的洞道相当复杂，在它栖息的地面上有许多大小不等的土堆，地面上无直接敞开的洞口。高原鼢鼠一般每年有两次活动高峰，春季4～5月，觅食活动加强，同时进行交配，5月为繁殖高峰期，一般每胎2～4只，最多7～8只。到6～8月交配结束，天气炎热，活动减少。秋季9～10月作物成熟，这时它们开始大量储运冬季食物和挖掘越冬巢穴，活动又趋频繁，出现第二次活动高峰。在活动高潮期间，地面上留下了大量的土丘，秋季比春季尤多。该鼠有见风见光堵洞的习性。冬季在老窝内贮粮，很少活动。据封洞和捕获时间分析，一天之内早晚活动最多，雨后更为活跃。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>物理防治</td>
                    <td>利用鼢鼠见光堵洞的习性，使用地弓箭捕杀鼢鼠。 </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>在鼠害严重的地区可投放D型肉毒素防治。鼠害较轻的地区可采用不育剂防治。</td>
                </tr>
                <tr>
                    <td>生物防治</td>
                    <td>在人工林内堆积石头堆或枝柴、草堆，招引鼬科动物。在人工林缘或林中空地，保留较大的阔叶树或悬挂招引杆及安放带有天然树洞的木段，以利于食鼠鸟类栖息和繁衍。</td>
                </tr>
                </tbody>
            </table>

            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['高原鼢鼠']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                              <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>

<h2 align="center"> 虫害</h2>
<div class="panel panel-default">
    <div class="panel-heading">光臀八齿小蠹</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                 Ipstypographus Linnaeus
            </p>
            <p>
                <strong>分类地位：</strong>
                鞘翅目，小蠹科。

            </p>
            <p>
                <strong>寄    主：</strong>
                青海云杉。

            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、扎麻什乡。

            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    成虫
                </strong>
                体长4.1-5.5mm，圆柱形，黑褐色，有光泽，该种与云杉八齿小蠹相似。额中央1大瘤突，前胸长大于宽、前部两侧有鱼鳞状的小齿。鞘翅端凹陷两侧4齿独立，第3  齿最大、常呈束           成虫
                腰状、尖端纽扣状，2、3齿间距最大;凹窝表面光滑有光 。前胃板板状部占胃板全长的一半，中线齿达到或超过中点，副关闭刚毛在板状部的后部显著加长，片状部关闭刚毛超过咀嚼刷长的一半，斜面齿           卵  坑道
                较细小稀少。
                <strong>卵</strong>乳白色，椭圆形，0.6-1.0mm。
                <strong>幼虫</strong>体长6.0mm，乳白色，取食期为浅棕红色。
                <strong>蛹</strong>长约5.0mm，乳白或略黄白色，羽化前淡黄色。
            </p>
            <p>
                <strong>生物学特征：</strong>
                以成虫在树干基部1m以内0-18cm深的苔藓层和枯枝落叶层内越冬，风倒木、带皮原木、堆集的3cm以上树枝、伐桩以及立木干基部的补充营养道内也有越冬成虫。翌年4月底至5月初当林内平均气温达到6℃时，越冬成虫出土侵入寄主，雄虫先蛀入韧皮部咬筑交配室，同时释放外激素招引1-4头雌虫交配，随后雌虫咬筑母坑道及卵室产卵，卵室对称排列，每雌约产卵50粒。5月中、上旬为产卵盛期，卵期7-15天；5月下旬至6月上旬幼虫孵化后自母坑道两侧咬筑子坑道，幼虫期15-25天。6月中、下旬老熟幼虫在坑道末端咬椭圆形蛹室化蛹，蛹期10-15天， 6月下旬新成虫羽化后在蛹室附近取食韧皮部补充营养约1月，再咬孔飞出入侵继续补充营养，部分在蛹室附近补充营养直到越冬。9月中、下旬林内气温低于6℃ 时即进入地下越冬。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>化学防治</td>
                    <td>悬挂诱捕器，通过信息素进行诱杀。
                    </td>
                </tr>

                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['光臀八齿小蠹']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">云杉球果小卷蛾</div>
    <div class="panel-body">
        <div>

            <p>
                <strong>拉丁名：</strong>
                 Cydia strobilella
            </p>
            <p>
                <strong>分类地位：</strong>
                鳞翅目卷蛾科。

            </p>
            <p>
                <strong>寄    主：</strong>
                青海云杉种实。

            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、扎麻什乡。

            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    成虫
                </strong>
                体长约4mm、翅展11mm。头、胸、腹黑褐色，前翅灰色有三条黒斜斑，彼此平行，每条斜斑上除黑色外，还夹杂着金黄色凸起鳞斑。后翅淡褐色。
                <strong>幼虫</strong>体长7.1mm，头及前胸背板黑色，胸、腹部乳黄色，腹足仅残留趾钩。

                <strong>蛹体</strong>长4.5mm，初期为鲜黄色，逐渐变为暗黄色，羽化前为红褐色。
            </p>
            <p>
                <strong>生物学特征：</strong>
                1年1代，以老熟幼虫越冬。4月上旬越冬幼虫开始活动，5月上旬至6月中旬化蛹、5月中旬为盛期;5月上旬到6月中旬羽化并产卵，6月中、下旬为盛期;6月上旬至7月上旬孵化，6月中下旬为盛期;7月下旬至8月下旬老熟幼虫进入果轴内越冬。成虫羽化多集中在 9-15时，8-16时飞行活跃， 羽化后蛹壳稍露出鳞片。1-2天后成虫交尾产卵、雌雄比约2.36:1，寿命约5天。卵单产在幼嫩球果果鳞内侧种翅的上方，1球果有卵1-6粒、最多有卵29粒，每雌产卵34-105粒、平均53粒，树冠阳面落卵量多于阴面。幼虫孵出后即钻入鳞片内，向幼嫩种子处蛀道食害未成熟的胚乳，再转入邻近的种子继续加害，每粒被害种子有 2 孔，幼虫能在食害的种子间来回串行;幼虫老熟后，蛀入果轴并在1长圆形室越冬，少数在鳞片与为害的种子内越冬。被害球果弯曲、出脂，落果后果鳞常不开张。该虫以阳坡、树冠阳面和上部分布较多，幼龄林、疏林、纯林的密度大于中老林、密林和混交林。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>物理防治</td>
                    <td>每年8月到翌年4月都可以进行蛹期修剪，人工剪除枯萎下垂的新梢和带虫顶芽，使其翌年失去发芽能力。</td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>云杉顶芽膨大期防治成虫，喷洒1.2%烟参碱1000倍液、10%吡虫啉乳油2000倍液、3%高渗苯氧威乳油3000倍液等药剂。云杉展叶期防治幼虫，喷洒3%高渗苯氧威乳油3000倍液、10%吡虫啉乳油2000倍液等药剂。在较为密集的林分中，选择晴朗无风的天气，早晚使用阿维油烟剂进行喷烟防治。

                    </td>
                </tr>
                </tbody>
            </table>
              </div>
            <div class="fancybox">
                <a th:each="pic : ${map['云杉球果小卷蛾']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">沙棘木蠹蛾</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                 Holcocerus hippophaecolus  Hua et Chon
            </p>
            <p>
                <strong>分类地位：</strong>
                鳞翅目、木蠹蛾科、线角木蠹蛾属。

            </p>
            <p>
                <strong>寄    主：</strong>
                沙棘。

            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、阿柔乡、扎麻什乡、野牛沟乡、央隆乡。
            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    成虫
                </strong>
                体粗壮，灰褐色，翅面密布灰褐色条纹，亚外缘线黑色，明显，外横线以内从中室至前缘处黑褐色。后翅浅灰色，翅面无明显条纹。
                <strong>幼虫</strong>初孵幼虫体色为淡红色，逐渐变成红色，头部黑色，前胸背板骨化，呈褐色，有一个黑褐色治浅色“B”形瘢痕。

            </p>
            <p>
                <strong>生物学特征：</strong>
                沙棘木蠹蛾4
                年发生1代，以幼虫在被害沙棘根部的蛀道中越冬，6月老熟幼虫爬出蛀孔入土化蛹，7月羽化成虫交尾产卵，7月下旬孵化，10月下旬幼虫越冬。据观察，成虫         被害状
                具较强趋光性，飞行迅速。卵产在树干基部树皮裂缝和靠近根基土中，卵孵化后钻入皮，并向下蛀食。到第二年可钻入心材危害，并将木屑虫粪从侵入孔排出。因四年一代经48个月，13个龄期，幼虫大小不整齐，分为1年群、2年群，以此类推。老熟幼虫爬出一般在树冠周围15cm深土中做薄茧化蛹，蛹期30天左右。主要危害多年生沙棘。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>


                <tr>
                    <td>物理防治</td>
                    <td>幼虫期在沙棘树干离地面30cm处涂毒环素，宽度为4cm。利用成虫趋光性进行诱杀。</td>
                </tr>
                <tr>
                    <td>化学防治</td>
                    <td>在幼虫期，用注射器向排粪孔注射吡虫啉乳油5倍稀释液10ml，覆土。延干基津贴根皮向下钻深8～10cm的孔，施以磷化铝，每株树施药量为1.6g。用2.5%菊酯类杀虫剂喷树根、干部及周围地面。

                    </td>
                </tr>
                <tr>
                    <td>生物防治</td>
                    <td>利用沙棘木蠹蛾信息素诱杀成虫。
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['沙棘木蠹蛾']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">明亮长脚金龟子</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                Hoplia spectabilis Medvedev
            </p>
            <p>
                <strong>分类地位：</strong>
                鞘翅目、金龟子科、单爪鳃金龟属。

            </p>

            <p>
                <strong>分    布：</strong>
                八宝镇、峨堡镇、扎麻什乡、阿柔乡、野牛沟乡、央隆乡。

            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    成虫
                </strong>
                雌虫体长7.8mm，宽4.5mm。鞘翅羽化时黄褐色，后渐变成暗红褐色，鞘翅中缝处黄褐色，鞘翅着生刺毛，臀板端钝圆。雄体长7.5mm，宽4mm，初期黑色、黄褐色，后暗褐色。前足胫节有2齿，一大一小，后足胫节端距各有5根刺毛，鞘翅末端中间部位隆起有棱突，臀板末端段稍尖。

                <strong>卵</strong>乳白色，约1mm，初产卵近球形，表面光滑，孵化前椭圆形，表面不光滑。
                <strong>幼虫</strong>老熟幼虫自然体长12.5mm，宽3.5mm，体被稀疏毛，乳白色，自然弯曲呈“C”型，复眼黑色，头部淡黄褐色，头顶、额部     有毛，上颚2/3处以上黑色，胸、腹部乳白色，各节皆有横邹褶，无腹足、无臀板。腹部10节，第2～6节腹部弯曲，其背板及邹褶处均密被5行黄色刺毛，排列整齐呈环状。       被害状
                腹部末端背面生有许多淡黄色刺毛，腹面着生黄褐色钩状刺。

                <strong>蛹</strong>体长8mm，裸蛹，初乳白色，后渐变为淡褐色，羽化前变成深黄褐色，上颚黑色。
            </p>
            <p>
                <strong>生物学特征：</strong>
                一年发生1代，以2～3龄幼虫在距地面60cm以下土壤内越冬。次年春季，随着气温上升，幼虫逐渐上移到10～20cm内表土层活动，幼虫3龄，幼虫发育不整齐。5月下旬至6月上旬，老熟幼虫开始陆续筑一蛹室化蛹，蛹期10天左右，6月中旬成虫开始羽化。一年内成虫羽化有两个高峰期，第一个高峰期在6月20～26日，第二个高峰期在7月5日～11日。成虫危害期达40天，寿命约30天。成虫羽化后不久即可交尾。6月下旬成虫开始产卵，卵多产在植物根际附近或林中空地、草场的沙壤土中，10天后幼虫孵化。10月中下旬，幼虫越冬。成虫具有暴食性，群聚于林木上啃食嫩茎、果肉、叶片和花瓣，4～5天就可将叶片取食殆尽，导致林木衰弱死亡。成虫具有假死性，喜光喜热，无趋光性。

            </p>
            <div>
                <strong>防治方法：</strong>

            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>营林措施</td>
                    <td>加强抚育管理，清除受害严重的病虫害木及无防治价值的濒死木、枯死木；加强管护促进林分健康。
                    </td>
                </tr>
                <tr>
                    <td>物理防治</td>
                    <td>成虫羽化盛期，利用害虫的假死性组织人力进行人工捕捉。阻隔式诱捕技术，成虫羽化前，在林缘外设置黄色十字板诱捕器，诱捕器距离寄主1m，悬挂高度以收集口距地面50cm为最佳。
                    </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>成虫羽化始盛期，采用绿色威雷（触破式微胶囊剂）300倍液、触破（高效氯氰菊酯微胶囊剂）500倍液、 4.5%高效氯氰菊酯乳油1500倍液喷雾防治。
                    </td>
                </tr>
               <tr>
                    <td>生物防治</td>
                    <td>保护利用黑蚁、多型虎甲红翅亚种、茧蜂、姬蜂和鸟类等天敌。
                    </td>
                </tr>
                </tbody>
            </table>

            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['明亮长脚金龟子']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">圆柏大痣小蜂</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                 Megastigmus sabinae Xu et He
            </p>
            <p>
                <strong>分类地位：</strong>
                膜翅目，长尾小蜂科。

            </p>
            <p>
                <strong>寄    主：</strong>
                祁连圆柏。

            </p>
            <p>
                <strong>分    布：</strong>
                祁连县八宝镇、扎麻什乡。
            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    成虫
                </strong>
                雌虫体长3．1—3．6mm，腹部长1．4-1．6mm，产卵鞘长2．3—2．6mm，橙黄色，后头及头顶橙红色，单眼区两旁有2个黑斑，前背板两侧白色，后胸背板白色，两侧稍具黑色，胸部腹板黑色，并胸腹节白色，基部有少量黑色。翅透明，翅脉及翅德褐色至黑褐色。腹部第一背板中央有纵向黑斑；第二、三背板背方有横向黑斑，产卵管鞘除基部一段外为黑色。雄虫体长3．5-45mm，头黑色，局单限与复眼之间黄褐色，且有时延伸至颜面上方，上唇及基两侧黄褐色，触角柄节与梗节背面黑至黑褐色，腹面黄褐色，鞭节黑色。前脚背板的前缘及中央稍具黑褐色，其余大部分黄白色；中胸盾片中叶前缘有2个黑斑，前半部橙红色，后半部黄白色，盾侧片大部分黑褐色；并胸腹节黑色，足黄褐至黑褐色，翅透明。触角较粗状，第一索节明显比梗节粗且长。前翅缘脉短于后缘脉。

                <strong>蛹</strong>裸蛹长2.5～5.1mm，初期乳白色，后渐变黑褐色，各部器官较明显。幼虫13节，体色乳白，弯曲呈桔瓣状。卵具长柄。卵乳白色。


            </p>
            <p>
                <strong>生物学特征：</strong>
                1年发生1代，主要以3龄幼虫越冬。翌年5月初，越冬幼虫随着温度的增高，开始活动，食量增加，经2次脱皮，种子被取食殆尽，虫体长度由越冬态的1.5mm增到4mm左右。幼虫5龄，在种子内生活历时10.5个月，无转移危害习性。6月中旬老熟幼虫开始化蛹，6月下旬为化蛹盛期。成虫7月中旬羽化，下旬为羽化高峰期。成虫羽化后不进行补充营养，当天便可交尾、产卵，并有孤雌生殖现象。雌虫将卵直接产于当年生青种的种六内，1粒种子产1粒卵。每雌虫产卵8—20粒，平均16粒。卵在7月下旬开始孵化，幼虫于9月下旬进入越冬状态。雄成虫寿命平均7天，雌的平均9天；在蜜糖水饲养条件下，雄成虫寿命延长3天，雌成虫寿命延长4天。雌、雄性比为I：1。成虫喜光，活动于光照较好，气温较高的枝头和树间，在风、、雨天或夜间停附于树枝和种子上。成虫的飞行能力较弱，一般1次飞行不超过5m，多在羽化所在树上活动，进行交尾和产卵。因此，小蜂的自身扩散能力不强，在种子成熟之前已现化，不能通过采种和种子运输传播，较远距离传播主要以风为媒介。危害以林缘、散生木为重，林内较轻，坡下重，坡上较轻。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>药剂防治</td>
                    <td>用磷化铝薰蒸。在成虫羽化期施放杀虫烟雾剂熏杀成虫，每亩1kg，需放烟2次，间隔3－5天一次。用20％速灭杀丁乳油、80％敌敌畏乳油、40％氧化乐果乳油或50％马拉硫磷乳油进行超低容量喷雾，防效良好，也可用25％杀虫双水剂300倍液、90％敌百虫晶体800倍液或50％敌敌畏乳油、40％氧化乐果乳油、50％甲胺磷乳油1000倍液喷雾，杀虫率在80％以上。

                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['圆柏大痣小蜂']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">杨白蚧</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                Chionasps montana Borchs
            </p>
            <p>
                <strong>分类地位：</strong>
                同翅目、蚧亚目、盾蚧科雪盾蚧属。
            </p>
            <p>
                <strong>寄    主：</strong>
                青杨。

            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、扎麻什乡。
            </p>
            <p>
                <strong>形态特征：</strong>
                <strong>
                    雌蚧壳
                </strong>
                白色，前端尖，后部钝圆，长约1.8mm，宽约0.6mm，端部有2个蜕皮。
                <strong>雌成虫</strong>紫红或污红色，长卵形，长约0.8mm。
                <strong>雄蚧壳</strong>白色，长型，长约0.7mm。
                <strong> 雄成虫</strong>紫红色，无翅，体长约0.5mm，复眼黑色，触角念珠状，与体长相当。


            </p>
            <p>
                <strong>生物学特征：</strong>
                一年1代，以卵在雌蚧壳下越冬。5月中旬卵孵化，5月下旬、6月上旬为孵化盛期，初孵若从雌壳尾部爬出，沿树干向上爬动，寻找事宜场所固定取食，并逐渐形成蚧壳，雄虫于8月上旬羽化，并开始交尾产卵。随着产卵母体向蚧壳头部收缩，腾出空位全部为卵粒所充满。树干布满白色虫体，十分明显。刺吸树木汁液，造成杨树提前落叶，生长停滞，引发煤污病，树势生长衰弱，甚至整株死亡。

            </p>
            <div>
                <strong>防治方法：</strong>

            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>物理防治</td>
                    <td>剪除枯死枝，合理修剪，使之通风透光，降低虫口密度。人工刮、刷，除去树干上的蚧虫。
                    </td>
                </tr>
                <tr>
                    <td>生物防治</td>
                    <td>保护黑缘红瓢虫、寄生蜂、草蛉等天敌。
                    </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>对越冬代和初龄幼虫用0.3～0.5波美度石硫合剂喷雾防治；若虫发生期喷施20%蚧虫净乳油1000倍液、20%速克灭乳油1000倍液、10%吡虫啉可湿性粉剂1500倍液、1.8%阿维菌素3000倍液喷雾防治。

                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['杨白蚧']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>
<h2 align="center"> 病害</h2>


<div class="panel panel-default">
    <div class="panel-heading">云杉叶锈病</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                Chrysomyxa qilianensis Wang,Wu et Li
            </p>
            <p>
                <strong>病原菌：</strong>
                祁连金绣菌。
            </p>
            <p>
                <strong>寄    主：</strong>
                云杉。
            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、扎麻什乡。
            </p>
            <p>
                <strong>症  状：</strong>
                病害初期在云杉针叶上呈现淡黄色段斑，在段斑上集生多数针尖状小突起，即病菌性孢子器，其顶部分泌有数根黄色丝状蜜露，数天后在段斑上出现多数橘黄色微隆起的椭圆状或长条状锈孢子器。锈孢子器包被膜陆续破裂，散出大量黄色粉状锈孢子。剩下的包被膜呈白色，病叶呈土黄色干枯而脱落。再转主寄主青海杜鹃的叶片上，病斑呈不规则形，杏黄色，在病叶背面集生很多冬孢子堆。冬孢子堆头状，橘红色，色泽鲜艳，基部有一根淡黄色菌丝束梗。

            </p>
            <p>
                <strong>发病规律：</strong>
                病菌以菌丝体在青海杜鹃叶片上越（夏）冬，每年对云杉针叶的有效侵染时期为20天左右。病菌冬孢子6月中旬萌发，产生担子和担孢子，担孢子主要通过气流传播到青海云杉幼嫩针叶上侵染。在平均气温14～16℃条件下，潜育期8～11天，6月底至7月初发病，产生性孢子器。3～5天后产生锈孢子器，7月中、下旬锈孢子陆续成熟，由气流传到转主寄主青海杜鹃上侵染，受侵植株的当年生叶不表现症状，次年5月底出现病斑。只有少数病斑在6月初产生冬孢子堆，大多数在第三年6月初才产生大量冬孢子堆。此病害循环中缺少夏孢子阶段。病害随海拔高度增加2逐渐加重。孤立木、疏林、林缘以及林冠上部病情较重，感病严重的云杉当年生针叶脱落，导致云杉发育不良，树型畸形，无蓄积量。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>

                <tr>
                    <td>物理防治</td>
                    <td>铲除云杉周围的中间寄主杜鹃，减少侵染来源。
                    </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>6月中旬喷洒25%粉锈宁可湿性粉剂、75%百菌清可湿性粉剂500～600倍液等进行防治。
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['云杉叶锈病']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">杨树锈病</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                Melampsora magnusiana Wagner
            </p>
            <p>
                <strong>病原菌：</strong>
                马格栅锈菌、杨栅绣菌。
            </p>
            <p>
                <strong>寄    主：</strong>
                青杨、小叶杨。
            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、扎麻什乡。
            </p>
            <p>
                <strong>症  状：</strong>
                杨树展叶期，在越冬病芽和萌发的幼叶上布满黄色粉堆，形似一束黄色绣球花的畸形病芽。严重受侵的病芽经3周左右便干枯。叶展开后即可感病，背面散生黄粉堆，为病菌的夏孢子堆，嫩叶皱缩、畸形，甚至枯死。叶柄和嫩梢上生椭圆形病斑，也可产生黄粉。病落叶在第二年春季有时可是赭色疤状小点，为病菌的东孢子堆。

            </p>
            <p>
                <strong>发病规律：</strong>
                病菌以菌丝在冬芽中越冬。春季在病冬芽上形成夏孢子堆，作为初侵染源。病害在4～5月和7～8月为两个发病高峰期。

            </p>
            <div>
                <strong>防治方法：</strong>
            <table class="table table-bordered table-hover table-condensed ">

                <tbody>
                <tr>
                    <td>营林措施</td>
                    <td>选择种植抗病品种。加强苗木及幼树管理。氮肥不应过多施用，结合磷肥、钾肥，防止徒长，增强本身抗病能力。营造混交林，合理密植，注意通风透光。
                    </td>
                </tr>
                <tr>
                    <td>物理防治</td>
                    <td>春季萌芽时，及早摘除病芽烧毁或深埋，以减少在侵染。
                    </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>嫩叶期喷50%退菌特800倍液或0.2～0.3波美度石硫合剂2～3次。也可使用80%代森锌可湿性粉剂500倍液、70%甲基硫菌灵可湿性粉剂1000倍液进行喷雾防治。
                    </td>
                </tr>
                </tbody>
            </table>

            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['杨树锈病']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">松落针病</div>
    <div class="panel-body">
        <div>
            <p>
                <strong>拉丁名：</strong>
                Lophodermium
            </p>
            <p>
                <strong>病原菌：</strong>
                松针散斑盘菌 :真菌界子囊菌门盘菌纲星裂    盘菌目，落针菌属
            </p>
            <p>
                <strong>寄    主：</strong>
                青海云杉
            </p>
            <p>
                <strong>分    布：</strong>
                分布于祁连县八宝镇、峨堡镇、扎麻什乡。
            </p>
            <p>
                <strong>症  状：</strong>
                初期产生黄色斑点或段斑，后病斑颜色加深呈淡褐色，至晚秋全叶黄褐脱落。第二年春季在凋落的针叶上产生典型的特征症状，即先在落针上出现纤细的黑色横线，将针叶分割成若干小段，在两横线间产生椭圆形黑色子实体即分生孢子器，长0.2-0.3毫米，以后再形成带光泽漆黑或灰黑色米粒状小点，长1-1.5毫米，中央纵裂成一道窄缝，即为病菌成熟的子囊盘。

            </p>
            <p>
                <strong>发病规律：</strong>
                病原菌以子囊盘和菌丝在感病落叶上越冬。3-4月林间湿度大，子囊孢子借雨水和气流传播。当孢子接触松针叶，萌生芽管从气孔侵入组织内吸取养分。病菌的潜育期较长，一般50天左右。病害的发生发展与寄主生长状况和林间温湿度关系密切。在土地瘠薄，林地干旱，卫生状况差，林木生长衰弱，针叶的细胞膨压降低时最易感病。混交林比纯林感病轻。

            </p>
            <div>
                <strong>防治方法：</strong>

            <table class="table table-bordered table-hover table-condensed ">

                <tbody>
                <tr>
                    <td>物理防治</td>
                    <td>加强抚育管理，松林应适时抚育间伐，清除林地带病针叶，改善林地卫生状况，促进林木生长，提高抗病力。营造针、阔树种混交林分，可增加土壤肥力，阻隔病菌传播，是预防病害发生的良好途径。
                    </td>
                </tr>
                <tr>
                    <td>药剂防治</td>
                    <td>在重病区幼林地，3-4月子囊孢子扩散期，喷洒70%可湿性代森锌500倍液，或50%退菌特600-800倍液，2-3次。 </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="fancybox">
                <a th:each="pic : ${map['松落针病']}" class="fancybox-thumb" rel="fancybox-thumb" th:href="@{'/picture/' + ${pic.fileId}}" th:title="${pic.title}">
                    <img th:if="${picStat.index} &lt; 5" th:src="@{'/picture/' + ${pic.fileId}}" th:alt="${pic.title}" style="padding: 5px;" > 
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .fancybox .fancybox-thumb img{
        width: auto;
        height: 200px;
    }
</style>
<script>
    $(".fancybox").each(function () {
        var fancy = [];
        var thumbs = $(this).find('.fancybox-thumb');
        $.each(thumbs, function () {
            var picture = {};
            picture.href = $(this).attr('href');
            picture.title = $(this).attr('title');
            fancy.push(picture);

        });
        thumbs.click(function () {
            $.fancybox(fancy, {type: "image", loop: false});
            return false;
        });

    });
</script>
